<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- The application tag describes the application as a whole. -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- This activity is the entry point of your app. -->
        <activity
            android:name="com.weighttrackerapp.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <!-- This action makes this activity the main entry point. -->
                <action android:name="android.intent.action.MAIN" />
                <!-- This category indicates that this activity should be listed in the device's launcher. -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
